<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Projeto filmes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/star-rating.min.css}" />
     <link rel="stylesheet" th:href="@{/css/itens.css}" />
    <link rel="stylesheet" th:href="@{/themes/krajee-fa/theme.min.css}" />
    
    
    
    
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/ator') ? 'active':''}">
                <a class="nav-link" th:href="@{/ator}">Ator </a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/diretor') ? 'active':''}">
                <a class="nav-link" th:href="@{/diretor}">Diretor</a>
            </li>

            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/filme') ? 'active':''}">
                <a class="nav-link" th:href="@{/filme}">Filme</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/voto') ? 'active':''}">
                <a class="nav-link" th:href="@{/voto}">Votação</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/image') ? 'active':''}">
                <a class="nav-link" th:href="@{/image}">Imagens</a>
            </li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li>
						<span style="color:red ;font-size: 15pt" sec:authentication="name"></span>
					</li>	 
						<li class="nav-item"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/login') ? 'active':''}">
                		<div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                		<a class="badge badge-light"   th:href="@{/login}">login</a>
                		</div>
            </li>
            <li class="nav-item"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/') ? 'active':''}">
            <div >
           <form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
            </div>
            </li>
						
					</ul>

    </div>
</nav>



<div class="container">
    <div layout:fragment="content"></div>
</div>
<script th:src="@{/js/jquery-3.2.1.min.js}"  type="text/javascript"></script>
<script th:src="@{/js/star-rating.min.js}"  type="text/javascript"></script>
<script th:src="@{/themes/krajee-fa/theme.min.js}" type="text/javascript"></script>
<script th:src="@{/js/locales/pt-BR.js}"  type="text/javascript"></script>
<script type="text/javascript">
     $(function() {
      $('.kv-ltr-theme-fa-star').rating({
            hoverOnClear: false,
            theme: 'krajee-fa',
            step: 1,
            language: 'pt-BR'
        });
    });
</script>
</body>
</html>