<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Projeto filmes</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <div th:if="${param.error}">Invalid username and password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <form th:action="@{/login}" method="post">
                <div>
                    <label> User Name : <input type="text" name="username" />
                    </label>
                </div>
                <div>
                    <label> Password: <input type="password" name="password" />
                    </label>
                </div>
                <div>
                    <input type="submit" value="Sign In" />
                </div>
            </form>
            <p>
                usuários:senha <br /> admin:321 <br />user:123
            </p>
        </div>
    </div>
</div>
</body>
</html>